li{
    list-style: none;
}

.carousel-container{
    width: 600px;
    height: 800px;
    overflow: hidden;
    margin: 0px auto;
}

.carousel-image-wrapper{
    position: relative; 
    z-index: 10;   
}

.carousel-image-wrapper img{
    position: absolute;
    float: left;
    top: 0px;
}

.carousel-control{
    position: relative;
    margin-top: 250px;
    z-index: 20;
}

#previous{
    padding: 5px;
    cursor: pointer;
    position: absolute;
    left: 0px;
}

#next{
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 0px;
}

#previous:hover, #next:hover{
    background: black;
    opacity: 0.5;
}

.carousel-indicator{
    position: relative;
    top: 310px;
    z-index: 30;
    margin: 0px auto;
    /* width: 50px; */
}

.carousel-indicator ul{
    position: absolute;
    left: 0px;
    /* width: 50px; */
    
}

.carousel-indicator ul li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: grey;
    margin-right: 10px;
    cursor: pointer;
}

.carousel-indicator ul li:last-child{
    margin-right: 0px;
}

.carousel-indicator  .active{
    background:#8b0000;
    opacity: 0.8;
}